.footer
  span ©️2019-#{new Date().getFullYear()} Designed By&nbsp;
    strong
      a(href='https://github.com/random-yang') RandomYang
    |  Powered By&nbsp;
  strong
    a(href='https://hexo.io') hexo
  | &nbsp; &nbsp; &nbsp;
  a(href="https://icp.gov.moe/?keyword=20241421" target="_blank") 萌ICP备20241421号